* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
body {
overflow: hidden;
background-color: #0a0a0a;
}
.pura{
    filter: blur(150px);  
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff );
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff );

}
.box {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    left: auto;
    right: 400px;
    padding: 10px;
    background: rgba(255,255,255,.15);
    justify-content: center;
    align-items: center;
    backdrop-filter:  blur(5px);
    border-radius: 15px;
    box-shadow: 0 25px 45px rgba(0,0,0,.1);
    border: 1px solid rgba(255,255,255,.2);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.header{
    width: 380px;
    height: 250px;
    background-image: url('../img/clock.jpeg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
    position: relative;
}
.clear{
    width : 30px;
    height: 30px;
    position: absolute;
    right:20px;
    top: 20px;
}
.clear i{
    font-size: 30px;
    color: #FFF;
}
.clear i:hover{
    cursor: pointer;
    text-shadow: 1px 3px 5px #000;
    transform: rotate(45deg);
}
#date{
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #FFF;
    font-size: 25px;
    font-family: 'Titillium Web', sans-serif;
}


.content{
    width:380px;
    height: 350px;
    max-height:350px;
    background-color: transparent;
    overflow: auto;
}
.content::-webkit-scrollbar { 
    display: none; 
}
.content ul{
    padding:0;
    margin:0;
}
.item{
    width:380px;
    height: 45px;
    min-height: 45px;
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    list-style: none;
    padding: 0;
    margin: 0;
}
.item i.co{
    position: absolute;
    font-size: 25px;
    padding-left:5px;
    left:15px;
    top:10px;
}
.item i.co:hover{
    cursor: pointer;
}
.fa-check-circle{
    color:#6eb200;
}
.item p.text{
    position: absolute;
    padding:0;
    margin:0;
    font-size: 20px;
    left:50px;
    top:10px;
    background-color: transparent;
    max-width:285px;
}
.lineThrough{
    text-decoration: line-through;
    color : rgb(236, 20, 20);
}
.item i.de{
    position: absolute;
    font-size: 25px;
    right:15px;
    top:10px;
}
.item i.de:hover{
    color:#af0000;
    cursor: pointer;
}

.add-to-do{
    position: relative;
    width: 360px;
    height:40px;
    background-color: transparent;
    padding: 10px;
    border-top: 1px solid rgba(0,0,0,0.1);
}
.add-to-do i{
    position: absolute;
    font-size: 40px;
    color: #111;
}

.add-to-do input{
    position: absolute;
    left: 50px;
    height: 35px;
    width: 310px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding-left:10px;
    top: 10px;
    padding-bottom: 10px;
}

.add-to-do input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #111;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
}

